# Node dependencies
node_modules
npm-debug.log

# Build output
dist

# Local env files
.env
.env.*
# --- EXCEPTIONS ---
# We MUST include .env.production in the build context
# so that the Dockerfile can COPY it into the builder stage.
!/.env.production

# System files
.DS_Store
Thumbs.db

# Vite cache
.vite

# IDE/editor configs
.vscode
